<?xml version="1.0"?>
<robot name="toddlerbot">
<link name="world"/>
<link name="base_link"><inertial><origin xyz="-0.0194013 -0.00385148 0.0614411" rpy="-0.69604557 0.0702126207 0.116449976"/><mass value="1.27503"/><inertia ixx="0.00341295833" ixy="0" ixz="0" iyy="0.00274216987" iyz="0" izz="0.00263764181"/></inertial><visual name="g0"><origin xyz="-0.0194013 -0.00385148 0.0614411" rpy="0 0 0"/><geometry><mesh filename="assets/torso_visual.stl" scale="1 1 1"/></geometry><material name="g0_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="torso_collision_0"><origin xyz="-0.025508 0 0.06" rpy="0 0 0"/><geometry><box size="0.09 0.13 0.12"/></geometry></collision><collision name="torso_collision_1"><origin xyz="-0.093008 0 0.01425" rpy="0 0 0"/><geometry><box size="0.045 0.0285 0.0285"/></geometry></collision></link>
<link name="neck_yaw_gear_drive"><inertial><origin xyz="0 0 0.0033841" rpy="1.57079633 -1.57079633 0"/><mass value="0.003"/><inertia ixx="1.55295e-07" ixy="0" ixz="0" iyy="8.71388e-08" iyz="0" izz="8.71388e-08"/></inertial><visual name="g3"><origin xyz="0 0 0.0033841" rpy="0 0 0"/><geometry><mesh filename="assets/neck_yaw_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g3_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="neck_yaw_link"><inertial><origin xyz="-3.41e-06 -0 0.00821562" rpy="-0.0150908576 0 1.57079633"/><mass value="0.006"/><inertia ixx="6.2064e-07" ixy="0" ixz="0" iyy="4.7773186e-07" iyz="0" izz="3.2903914e-07"/></inertial><visual name="g4"><origin xyz="-3.41e-06 0 0.00821562" rpy="0 0 0"/><geometry><mesh filename="assets/neck_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g4_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="head"><inertial><origin xyz="-0.0104852 0.00111009 0.0447856" rpy="-0.523778923 0.0532001692 1.5448683"/><mass value="0.143321"/><inertia ixx="0.000122021036" ixy="0" ixz="0" iyy="0.000114843479" iyz="0" izz="9.01553851e-05"/></inertial><visual name="g5"><origin xyz="-0.0104852 0.00111009 0.0447856" rpy="0 0 0"/><geometry><mesh filename="assets/head_visual.stl" scale="1 1 1"/></geometry><material name="g5_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="head_collision"><origin xyz="-0.0105 -0.0035 0.046416" rpy="0 0 0"/><geometry><box size="0.07 0.084 0.06"/></geometry></collision></link>
<link name="neck_pitch_plate"><inertial><origin xyz="-0 -0.00282818 0" rpy="1.83621965 -1.57079633 0"/><mass value="0.002"/><inertia ixx="1.08464e-07" ixy="0" ixz="0" iyy="6.1260173e-08" iyz="0" izz="5.6190127e-08"/></inertial><visual name="g7"><origin xyz="3.97046694e-23 -0.00282818 1.32348898e-23" rpy="0 0 0"/><geometry><mesh filename="assets/neck_pitch_plate_visual.stl" scale="1 1 1"/></geometry><material name="g7_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="neck_rod"><inertial><origin xyz="0.01348121 -0.00159086 -0.01631763" rpy="1.57128932 -1.57079633 0"/><mass value="0.00297389"/><inertia ixx="9.68778e-07" ixy="0" ixz="0" iyy="9.56038228e-07" iyz="0" izz="1.72711718e-08"/></inertial><visual name="g8"><origin xyz="0.01348121 -0.00159086 -0.01631763" rpy="0 9.2e-07 0"/><geometry><mesh filename="assets/neck_rod_visual.stl" scale="1 1 1"/></geometry><material name="g8_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="neck_rod_2"><inertial><origin xyz="0.01348682 -0.00159086 -0.01630248" rpy="1.57120102 -1.57079633 0"/><mass value="0.00297389"/><inertia ixx="9.67757e-07" ixy="0" ixz="0" iyy="9.55017154e-07" iyz="0" izz="1.72709464e-08"/></inertial><visual name="g9"><origin xyz="0.01348682 -0.00159086 -0.01630248" rpy="0 5.2e-07 0"/><geometry><mesh filename="assets/neck_rod_2_visual.stl" scale="1 1 1"/></geometry><material name="g9_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="waist_gears"><inertial><origin xyz="-0 0 -0.0129916" rpy="1.57079633 3.81108668e-06 1.57079633"/><mass value="0.0371617"/><inertia ixx="1.19063e-05" ixy="0" ixz="0" iyy="1.15726e-05" iyz="0" izz="2.6567e-06"/></inertial><visual name="g10"><origin xyz="1.06555339e-20 4.09454403e-23 -0.0129916" rpy="0 0 0"/><geometry><mesh filename="assets/waist_gears_visual.stl" scale="1 1 1"/></geometry><material name="g10_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="pelvis_link"><inertial><origin xyz="-0.0231545 0 -0.0260806" rpy="1.57053729 -0.0185878476 1.57079861"/><mass value="0.1052"/><inertia ixx="9.14431992e-05" ixy="0" ixz="0" iyy="6.74202023e-05" iyz="0" izz="4.57051985e-05"/></inertial><visual name="g11"><origin xyz="-0.0231545 -3.07049443e-21 -0.0260806" rpy="0 0 0"/><geometry><mesh filename="assets/pelvis_link_visual.stl" scale="1 1 1"/></geometry><material name="g11_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="pelvis_link_collision"><origin xyz="-0.02275 -0 -0.035346" rpy="0 0 0"/><geometry><box size="0.07 0.12 0.044338"/></geometry></collision></link>
<link name="waist_gear_drive"><inertial><origin xyz="0 -0 0.00671824" rpy="1.57079633 -1.57079633 0"/><mass value="0.002"/><inertia ixx="3.95436e-08" ixy="0" ixz="0" iyy="3.70258e-08" iyz="0" izz="3.70258e-08"/></inertial><visual name="g13"><origin xyz="0 0 0.00671824" rpy="0 0 0"/><geometry><mesh filename="assets/waist_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g13_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="waist_gear_drive_2"><inertial><origin xyz="0 -0 0.00671824" rpy="1.57079633 -1.57079633 0"/><mass value="0.002"/><inertia ixx="3.95436e-08" ixy="0" ixz="0" iyy="3.70258e-08" iyz="0" izz="3.70258e-08"/></inertial><visual name="g14"><origin xyz="-8.78879401e-25 1.65436123e-24 0.00671824" rpy="0 0 1e-07"/><geometry><mesh filename="assets/waist_gear_drive_2_visual.stl" scale="1 1 1"/></geometry><material name="g14_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_hip_pitch_link"><inertial><origin xyz="-0.0203085 0.0188253 -0.0117862" rpy="1.57609246 -0.00223221974 1.5625628"/><mass value="0.188221"/><inertia ixx="0.000131417576" ixy="0" ixz="0" iyy="0.000114388715" iyz="0" izz="5.02334097e-05"/></inertial><visual name="g15"><origin xyz="-0.0203085 0.0188253 -0.0117862" rpy="0 0 0"/><geometry><mesh filename="assets/left_hip_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g15_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_hip_pitch_link_collision"><origin xyz="-0.01804998 0.01679996 -0.01200002" rpy="0 0 0"/><geometry><box size="0.0859 0.0424 0.0465"/></geometry></collision></link>
<link name="left_hip_roll_link"><inertial><origin xyz="0.0246449 -3.22e-06 -0.0172318" rpy="0.0190768401 -0.000313585336 0.000387817029"/><mass value="0.022"/><inertia ixx="9.95174071e-06" ixy="0" ixz="0" iyy="8.77887623e-06" iyz="0" izz="4.30932306e-06"/></inertial><visual name="g17"><origin xyz="0.0246449 -3.22e-06 -0.0172318" rpy="0 0 0"/><geometry><mesh filename="assets/left_hip_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g17_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_hip_yaw_link"><inertial><origin xyz="-0.00967359 0.00117184 -0.0353305" rpy="-0.390642031 -0.158030767 0.0399733935"/><mass value="0.159688"/><inertia ixx="7.95318897e-05" ixy="0" ixz="0" iyy="6.2769829e-05" iyz="0" izz="5.03525813e-05"/></inertial><visual name="g18"><origin xyz="-0.00967359 0.00117184 -0.0353305" rpy="0 0 0"/><geometry><mesh filename="assets/left_hip_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g18_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_hip_yaw_link_collision"><origin xyz="-0.009525 0.000575 -0.03147496" rpy="0 0 0"/><geometry><box size="0.05905 0.04795 0.06295"/></geometry></collision></link>
<link name="left_hip_yaw_gear_drive"><inertial><origin xyz="0 -0 0.00175" rpy="1.57079633 -1.57079633 0"/><mass value="0.001"/><inertia ixx="4.7219e-08" ixy="0" ixz="0" iyy="2.46213e-08" iyz="0" izz="2.46213e-08"/></inertial><visual name="g20"><origin xyz="0 0 0.00175" rpy="0 0 0"/><geometry><mesh filename="assets/left_hip_yaw_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g20_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_knee_link"><inertial><origin xyz="0.00452332 0.019 -0.0505695" rpy="1.57079633 0 -0.00161648313"/><mass value="0.029"/><inertia ixx="5.21356023e-05" ixy="0" ixz="0" iyy="4.23701e-05" iyz="0" izz="1.29753977e-05"/></inertial><visual name="g21"><origin xyz="0.00452332 0.019 -0.0505695" rpy="0 0 0"/><geometry><mesh filename="assets/left_knee_link_visual.stl" scale="1 1 1"/></geometry><material name="g21_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_knee_link_collision"><origin xyz="-0 0.019 -0.05115259" rpy="0 0 0"/><geometry><box size="0.03 0.046 0.1323052"/></geometry></collision></link>
<link name="left_ankle_pitch_link"><inertial><origin xyz="-0.0179692 0.0188074 0.0120892" rpy="-0.309911032 -1.56268473 -2.8089096"/><mass value="0.172721"/><inertia ixx="0.000120426512" ixy="0" ixz="0" iyy="0.000105486526" iyz="0" izz="4.63541619e-05"/></inertial><visual name="g23"><origin xyz="-0.0179692 0.0188074 0.0120892" rpy="0 0 0"/><geometry><mesh filename="assets/left_ankle_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g23_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_ankle_pitch_link_collision"><origin xyz="-0.01855004 0.01680003 0.01200003" rpy="0 0 0"/><geometry><box size="0.0869 0.0424 0.0465"/></geometry></collision></link>
<link name="left_ankle_roll_link"><inertial><origin xyz="0.0358432 -7e-08 -0.0267229" rpy="-0.104863677 -1.86419523e-05 1.57073191"/><mass value="0.039"/><inertia ixx="3.04307e-05" ixy="0" ixz="0" iyy="2.90266368e-05" iyz="0" izz="8.65114317e-06"/></inertial><visual name="g25"><origin xyz="0.0358432 -7e-08 -0.0267229" rpy="0 0 0"/><geometry><mesh filename="assets/left_ankle_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g25_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_ankle_roll_link_collision"><origin xyz="0.0358432 -7e-08 -0.0267229" rpy="0 0 0"/><geometry><mesh filename="assets/left_ankle_roll_link_collision.stl" scale="1 1 1"/></geometry></collision></link>
<link name="right_hip_pitch_link"><inertial><origin xyz="-0.0202238 -0.0188253 -0.0117862" rpy="1.57610954 0.00223172676 1.57905869"/><mass value="0.188221"/><inertia ixx="0.000130796572" ixy="0" ixz="0" iyy="0.000113767709" iyz="0" izz="5.02334193e-05"/></inertial><visual name="g27"><origin xyz="-0.0202238 -0.0188253 -0.0117862" rpy="0 0 0"/><geometry><mesh filename="assets/right_hip_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g27_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_hip_pitch_link_collision"><origin xyz="-0.01796872 -0.01679996 -0.01200002" rpy="0 0 0"/><geometry><box size="0.0857375 0.0424 0.0465"/></geometry></collision></link>
<link name="right_hip_roll_link"><inertial><origin xyz="0.0246449 -3.22e-06 -0.0172318" rpy="0.0190768401 -0.000313585336 0.000387817029"/><mass value="0.022"/><inertia ixx="9.95174071e-06" ixy="0" ixz="0" iyy="8.77887623e-06" iyz="0" izz="4.30932306e-06"/></inertial><visual name="g29"><origin xyz="0.0246449 -3.22e-06 -0.0172318" rpy="0 0 0"/><geometry><mesh filename="assets/right_hip_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g29_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_hip_yaw_link"><inertial><origin xyz="-0.00967257 -0.00117152 -0.0353303" rpy="-0.390027689 0.158048413 -0.0399683356"/><mass value="0.159688"/><inertia ixx="7.95264704e-05" ixy="0" ixz="0" iyy="6.27645268e-05" iyz="0" izz="5.03517028e-05"/></inertial><visual name="g30"><origin xyz="-0.00967257 -0.00117152 -0.0353303" rpy="0 0 0"/><geometry><mesh filename="assets/right_hip_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g30_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_hip_yaw_link_collision"><origin xyz="-0.009525 -0.000575 -0.03147497" rpy="0 0 0"/><geometry><box size="0.05905 0.04795 0.06295"/></geometry></collision></link>
<link name="right_hip_yaw_gear_drive"><inertial><origin xyz="-0 0 0.00175" rpy="1.57079633 -1.57079633 0"/><mass value="0.001"/><inertia ixx="4.7219e-08" ixy="0" ixz="0" iyy="2.46213e-08" iyz="0" izz="2.46213e-08"/></inertial><visual name="g32"><origin xyz="0 0 0.00175" rpy="0 0 0"/><geometry><mesh filename="assets/right_hip_yaw_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g32_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_knee_link"><inertial><origin xyz="0.00452332 -0.019 -0.0505695" rpy="1.57079633 0 0.00161648313"/><mass value="0.029"/><inertia ixx="5.21356023e-05" ixy="0" ixz="0" iyy="4.23701e-05" iyz="0" izz="1.29753977e-05"/></inertial><visual name="g33"><origin xyz="0.00452332 -0.019 -0.0505695" rpy="0 0 0"/><geometry><mesh filename="assets/right_knee_link_visual.stl" scale="1 1 1"/></geometry><material name="g33_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_knee_link_collision"><origin xyz="0 -0.019 -0.05115259" rpy="0 0 0"/><geometry><box size="0.03 0.046 0.1323052"/></geometry></collision></link>
<link name="right_ankle_pitch_link"><inertial><origin xyz="-0.0179692 -0.018812 0.0120892" rpy="-2.92991732 -1.56235903 -0.234444099"/><mass value="0.172721"/><inertia ixx="0.000120427087" ixy="0" ixz="0" iyy="0.000105486571" iyz="0" izz="4.63538419e-05"/></inertial><visual name="g35"><origin xyz="-0.0179692 -0.018812 0.0120892" rpy="0 0 0"/><geometry><mesh filename="assets/right_ankle_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g35_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_ankle_pitch_link_collision"><origin xyz="-0.01855004 -0.01680004 0.01200003" rpy="0 0 0"/><geometry><box size="0.0869 0.0424 0.0465"/></geometry></collision></link>
<link name="right_ankle_roll_link"><inertial><origin xyz="0.0358432 -7e-08 -0.0267229" rpy="-0.104863677 -1.86419523e-05 1.57073191"/><mass value="0.039"/><inertia ixx="3.04307e-05" ixy="0" ixz="0" iyy="2.90266368e-05" iyz="0" izz="8.65114317e-06"/></inertial><visual name="g37"><origin xyz="0.0358432 -7e-08 -0.0267229" rpy="0 0 0"/><geometry><mesh filename="assets/right_ankle_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g37_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_ankle_roll_link_collision"><origin xyz="0.0358432 -7e-08 -0.0267229" rpy="0 0 0"/><geometry><mesh filename="assets/right_ankle_roll_link_collision.stl" scale="1 1 1"/></geometry></collision></link>
<link name="left_shoulder_pitch_link"><inertial><origin xyz="-0 0.0129132 0" rpy="3.14159265 -1.57079633 0"/><mass value="0.015"/><inertia ixx="6.99606e-06" ixy="0" ixz="0" iyy="6.13264e-06" iyz="0" izz="3.20331e-06"/></inertial><visual name="g39"><origin xyz="-2.58493941e-26 0.0129132 -5.16987883e-26" rpy="0 0 0"/><geometry><mesh filename="assets/left_shoulder_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g39_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_shoulder_roll_link"><inertial><origin xyz="0.0185402 0.0117736 -0.00203648" rpy="-1.55720723 -1.33055649 -1.49099822"/><mass value="0.1152"/><inertia ixx="3.48590029e-05" ixy="0" ixz="0" iyy="3.21026752e-05" iyz="0" izz="2.65563219e-05"/></inertial><visual name="g40"><origin xyz="0.0185402 0.0117736 -0.00203648" rpy="0 0 0"/><geometry><mesh filename="assets/left_shoulder_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g40_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_shoulder_roll_link_collision"><origin xyz="0.01855002 0.01200001 -0.003" rpy="0 0 0"/><geometry><box size="0.0409 0.0465 0.046"/></geometry></collision></link>
<link name="left_shoulder_gear_drive"><inertial><origin xyz="0 0 -0.00662386" rpy="1.57079633 -1.57079633 0"/><mass value="0.004"/><inertia ixx="2.87762e-07" ixy="0" ixz="0" iyy="1.9527e-07" iyz="0" izz="1.9527e-07"/></inertial><visual name="g42"><origin xyz="0 0 -0.00662386" rpy="0 0 0"/><geometry><mesh filename="assets/left_shoulder_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g42_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_shoulder_yaw_link"><inertial><origin xyz="0 0 -0.0257843" rpy="0 0 1.57079633"/><mass value="0.0247439"/><inertia ixx="1.54061e-05" ixy="0" ixz="0" iyy="1.01507e-05" iyz="0" izz="6.98599e-06"/></inertial><visual name="g43"><origin xyz="-2.58493941e-26 -8.27180613e-25 -0.0257843" rpy="0 0 0"/><geometry><mesh filename="assets/left_shoulder_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g43_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_shoulder_yaw_link_collision"><origin xyz="0 0 -0.04425" rpy="0 0 0"/><geometry><box size="0.046 0.025985 0.054214"/></geometry></collision></link>
<link name="left_elbow_roll_link"><inertial><origin xyz="0.0185402 0.0117736 -0.00203648" rpy="1.58438543 -1.33055649 1.65059443"/><mass value="0.1152"/><inertia ixx="3.48590029e-05" ixy="0" ixz="0" iyy="3.21026752e-05" iyz="0" izz="2.65563219e-05"/></inertial><visual name="g45"><origin xyz="0.0185402 0.0117736 -0.00203648" rpy="0 0 0"/><geometry><mesh filename="assets/left_elbow_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g45_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_elbow_roll_link_collision"><origin xyz="0.01855002 0.01200001 -0.003" rpy="0 0 0"/><geometry><box size="0.0409 0.0465 0.046"/></geometry></collision></link>
<link name="left_elbow_gear_drive"><inertial><origin xyz="-0 -0 -0.00662386" rpy="1.57079633 -1.57079633 0"/><mass value="0.004"/><inertia ixx="2.87762e-07" ixy="0" ixz="0" iyy="1.9527e-07" iyz="0" izz="1.9527e-07"/></inertial><visual name="g47"><origin xyz="0 0 -0.00662386" rpy="0 0 0"/><geometry><mesh filename="assets/left_elbow_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g47_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_elbow_yaw_link"><inertial><origin xyz="0 0.00604452 -0.0333598" rpy="0.600985603 0 0"/><mass value="0.0295299"/><inertia ixx="2.81941e-05" ixy="0" ixz="0" iyy="1.88196999e-05" iyz="0" izz="1.14631001e-05"/></inertial><visual name="g48"><origin xyz="-2.06795153e-25 0.00604452 -0.0333598" rpy="0 0 0"/><geometry><mesh filename="assets/left_elbow_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g48_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_elbow_yaw_link_collision"><origin xyz="0 0.00335 -0.04475" rpy="-0 0 0"/><geometry><box size="0.025985 0.0593 0.055126"/></geometry></collision></link>
<link name="left_wrist_pitch_link"><inertial><origin xyz="-0.00041505 -0.021867 0.0114965" rpy="1.49726662 -0.0905553283 1.57073593"/><mass value="0.1276"/><inertia ixx="4.16370541e-05" ixy="0" ixz="0" iyy="3.57025937e-05" iyz="0" izz="3.29703522e-05"/></inertial><visual name="g50"><origin xyz="-0.00041505 -0.021867 0.0114965" rpy="0 0 0"/><geometry><mesh filename="assets/left_wrist_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g50_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_wrist_pitch_link_collision"><origin xyz="-0.00045 -0.02150004 0.01199996" rpy="0 0 0"/><geometry><box size="0.0409 0.045 0.0465"/></geometry></collision></link>
<link name="left_wrist_gear_drive"><inertial><origin xyz="-0 0.00503438 -0" rpy="1.57079633 -1.57079633 0"/><mass value="0.003"/><inertia ixx="2.24433e-07" ixy="0" ixz="0" iyy="1.33264e-07" iyz="0" izz="1.33264e-07"/></inertial><visual name="g52"><origin xyz="4.13590306e-25 0.00503438 1.65436123e-24" rpy="0 0 0"/><geometry><mesh filename="assets/left_wrist_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g52_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_gripper_link"><inertial><origin xyz="0.00528675 0.00369019 -0.0303168" rpy="-0.188429217 0.12715982 1.21854778"/><mass value="0.0687174"/><inertia ixx="5.52008077e-05" ixy="0" ixz="0" iyy="5.38120494e-05" iyz="0" izz="1.56380429e-05"/></inertial><visual name="g53"><origin xyz="0.00528675 0.00369019 -0.0303168" rpy="0 0 0"/><geometry><mesh filename="assets/left_gripper_link_visual.stl" scale="1 1 1"/></geometry><material name="g53_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_gripper_link_collision"><origin xyz="0.019 0.002925 -0.02885" rpy="0 0 0"/><geometry><box size="0.09 0.04935 0.0363"/></geometry></collision></link>
<link name="left_gripper_gear_drive"><inertial><origin xyz="0 -0 -0.0025" rpy="1.57079633 -1.57079633 0"/><mass value="0.00107037"/><inertia ixx="5.01899e-08" ixy="0" ixz="0" iyy="2.73249e-08" iyz="0" izz="2.73249e-08"/></inertial><visual name="g55"><origin xyz="0 0 -0.0025" rpy="0 0 0"/><geometry><mesh filename="assets/left_gripper_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g55_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_gripper_finger"><inertial><origin xyz="0.00981816 0.0160522 -0.0386855" rpy="1.4716184 -1.5423711 0.116782866"/><mass value="0.0265733"/><inertia ixx="1.26819502e-05" ixy="0" ixz="0" iyy="1.0313367e-05" iyz="0" izz="5.64205284e-06"/></inertial><visual name="g56"><origin xyz="0.00981816 0.0160522 -0.0386855" rpy="0 0 0"/><geometry><mesh filename="assets/left_gripper_finger_visual.stl" scale="1 1 1"/></geometry><material name="g56_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_gripper_finger_collision_0"><origin xyz="0.0045 0.016125 -0.027" rpy="0 0 0"/><geometry><box size="0.009 0.0407 0.038"/></geometry></collision><collision name="left_gripper_finger_collision_1"><origin xyz="0.01075 0.016125 -0.055" rpy="0 0 0"/><geometry><box size="0.0215 0.0407 0.018"/></geometry></collision></link>
<link name="left_gripper_finger_2"><inertial><origin xyz="-0.00981816 -0.0160522 -0.0386855" rpy="1.4716184 -1.5423711 0.116782866"/><mass value="0.0265733"/><inertia ixx="1.26819502e-05" ixy="0" ixz="0" iyy="1.0313367e-05" iyz="0" izz="5.64205284e-06"/></inertial><visual name="g59"><origin xyz="-0.00981816 -0.0160522 -0.0386855" rpy="0 0 0"/><geometry><mesh filename="assets/left_gripper_finger_2_visual.stl" scale="1 1 1"/></geometry><material name="g59_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="left_gripper_finger_2_collision_0"><origin xyz="-0.0045 -0.016125 -0.027" rpy="0 0 0"/><geometry><box size="0.009 0.0407 0.038"/></geometry></collision><collision name="left_gripper_finger_2_collision_1"><origin xyz="-0.01075 -0.016125 -0.055" rpy="0 0 0"/><geometry><box size="0.0215 0.0407 0.018"/></geometry></collision></link>
<link name="right_shoulder_pitch_link"><inertial><origin xyz="0 -0.0129132 0" rpy="3.14159265 -1.57079633 0"/><mass value="0.015"/><inertia ixx="6.99606e-06" ixy="0" ixz="0" iyy="6.13264e-06" iyz="0" izz="3.20331e-06"/></inertial><visual name="g62"><origin xyz="2.58493941e-26 -0.0129132 -5.16987883e-26" rpy="0 0 0"/><geometry><mesh filename="assets/right_shoulder_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g62_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_shoulder_roll_link"><inertial><origin xyz="-0.0185402 -0.0117736 -0.00203648" rpy="-1.55720723 -1.33055649 -1.49099822"/><mass value="0.1152"/><inertia ixx="3.48590029e-05" ixy="0" ixz="0" iyy="3.21026752e-05" iyz="0" izz="2.65563219e-05"/></inertial><visual name="g63"><origin xyz="-0.0185402 -0.0117736 -0.00203648" rpy="0 0 0"/><geometry><mesh filename="assets/right_shoulder_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g63_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_shoulder_roll_link_collision"><origin xyz="-0.01855002 -0.01200001 -0.003" rpy="0 0 0"/><geometry><box size="0.0409 0.0465 0.046"/></geometry></collision></link>
<link name="right_shoulder_gear_drive"><inertial><origin xyz="-0 -0 -0.00662386" rpy="1.57079633 -1.57079633 0"/><mass value="0.004"/><inertia ixx="2.87762e-07" ixy="0" ixz="0" iyy="1.9527e-07" iyz="0" izz="1.9527e-07"/></inertial><visual name="g65"><origin xyz="0 0 -0.00662386" rpy="0 0 0"/><geometry><mesh filename="assets/right_shoulder_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g65_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_shoulder_yaw_link"><inertial><origin xyz="-0 -0 -0.0257843" rpy="0 0 1.57079633"/><mass value="0.0247439"/><inertia ixx="1.54061e-05" ixy="0" ixz="0" iyy="1.01507e-05" iyz="0" izz="6.98599e-06"/></inertial><visual name="g66"><origin xyz="2.58493941e-26 8.27180613e-25 -0.0257843" rpy="0 0 0"/><geometry><mesh filename="assets/right_shoulder_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g66_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_shoulder_yaw_link_collision"><origin xyz="0 0 -0.04425" rpy="0 0 0"/><geometry><box size="0.046 0.025985 0.054214"/></geometry></collision></link>
<link name="right_elbow_roll_link"><inertial><origin xyz="-0.0185402 -0.0117736 -0.00203648" rpy="1.58438543 -1.33055649 1.65059443"/><mass value="0.1152"/><inertia ixx="3.48590029e-05" ixy="0" ixz="0" iyy="3.21026752e-05" iyz="0" izz="2.65563219e-05"/></inertial><visual name="g68"><origin xyz="-0.0185402 -0.0117736 -0.00203648" rpy="0 0 0"/><geometry><mesh filename="assets/right_elbow_roll_link_visual.stl" scale="1 1 1"/></geometry><material name="g68_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_elbow_roll_link_collision"><origin xyz="-0.01855002 -0.01200001 -0.003" rpy="0 0 0"/><geometry><box size="0.0409 0.0465 0.046"/></geometry></collision></link>
<link name="right_elbow_gear_drive"><inertial><origin xyz="0 0 -0.00662386" rpy="1.57079633 -1.57079633 0"/><mass value="0.004"/><inertia ixx="2.87762e-07" ixy="0" ixz="0" iyy="1.9527e-07" iyz="0" izz="1.9527e-07"/></inertial><visual name="g70"><origin xyz="0 0 -0.00662386" rpy="0 0 0"/><geometry><mesh filename="assets/right_elbow_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g70_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_elbow_yaw_link"><inertial><origin xyz="-0 -0.00604452 -0.0333598" rpy="0.600985603 0 0"/><mass value="0.0295299"/><inertia ixx="2.81941e-05" ixy="0" ixz="0" iyy="1.88196999e-05" iyz="0" izz="1.14631001e-05"/></inertial><visual name="g71"><origin xyz="0 -0.00604452 -0.0333598" rpy="0 0 0"/><geometry><mesh filename="assets/right_elbow_yaw_link_visual.stl" scale="1 1 1"/></geometry><material name="g71_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_elbow_yaw_link_collision"><origin xyz="0 -0.00335 -0.04475" rpy="0 0 0"/><geometry><box size="0.025985 0.0593 0.055126"/></geometry></collision></link>
<link name="right_wrist_pitch_link"><inertial><origin xyz="0.00041505 0.021867 0.0114965" rpy="1.49726662 -0.0905553283 1.57073593"/><mass value="0.1276"/><inertia ixx="4.16370541e-05" ixy="0" ixz="0" iyy="3.57025937e-05" iyz="0" izz="3.29703522e-05"/></inertial><visual name="g73"><origin xyz="0.00041505 0.021867 0.0114965" rpy="0 0 0"/><geometry><mesh filename="assets/right_wrist_pitch_link_visual.stl" scale="1 1 1"/></geometry><material name="g73_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_wrist_pitch_link_collision"><origin xyz="0.00045 0.02150004 0.01199996" rpy="0 0 0"/><geometry><box size="0.0409 0.045 0.0465"/></geometry></collision></link>
<link name="right_wrist_gear_drive"><inertial><origin xyz="0 -0.00503438 -0" rpy="1.57079633 -1.57079633 0"/><mass value="0.003"/><inertia ixx="2.24433e-07" ixy="0" ixz="0" iyy="1.33264e-07" iyz="0" izz="1.33264e-07"/></inertial><visual name="g75"><origin xyz="-4.13590306e-25 -0.00503438 1.65436123e-24" rpy="0 0 0"/><geometry><mesh filename="assets/right_wrist_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g75_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_gripper_link"><inertial><origin xyz="-0.0327167 -0.0037537 -0.0303168" rpy="-0.187546692 0.128058734 1.22346662"/><mass value="0.0687174"/><inertia ixx="5.51658571e-05" ixy="0" ixz="0" iyy="5.38291649e-05" iyz="0" izz="1.5607478e-05"/></inertial><visual name="g76"><origin xyz="-0.0327167 -0.0037537 -0.0303168" rpy="0 0 0"/><geometry><mesh filename="assets/right_gripper_link_visual.stl" scale="1 1 1"/></geometry><material name="g76_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_gripper_link_collision"><origin xyz="-0.019 -0.002925 -0.02885" rpy="0 0 0"/><geometry><box size="0.09 0.04935 0.0363"/></geometry></collision></link>
<link name="right_gripper_gear_drive"><inertial><origin xyz="-0 0 -0.0025" rpy="1.57079633 -1.57079633 0"/><mass value="0.00107037"/><inertia ixx="5.01899e-08" ixy="0" ixz="0" iyy="2.73249e-08" iyz="0" izz="2.73249e-08"/></inertial><visual name="g78"><origin xyz="0 0 -0.0025" rpy="0 0 0"/><geometry><mesh filename="assets/right_gripper_gear_drive_visual.stl" scale="1 1 1"/></geometry><material name="g78_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_gripper_finger"><inertial><origin xyz="0.00981816 0.0160522 -0.0386855" rpy="1.4716184 -1.5423711 0.116782866"/><mass value="0.0265733"/><inertia ixx="1.26819502e-05" ixy="0" ixz="0" iyy="1.0313367e-05" iyz="0" izz="5.64205284e-06"/></inertial><visual name="g79"><origin xyz="0.00981816 0.0160522 -0.0386855" rpy="0 0 0"/><geometry><mesh filename="assets/right_gripper_finger_visual.stl" scale="1 1 1"/></geometry><material name="g79_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_gripper_finger_collision_0"><origin xyz="0.0045 0.016125 -0.027" rpy="0 0 0"/><geometry><box size="0.009 0.0407 0.038"/></geometry></collision><collision name="right_gripper_finger_collision_1"><origin xyz="0.01075 0.016125 -0.055" rpy="0 0 0"/><geometry><box size="0.0215 0.0407 0.018"/></geometry></collision></link>
<link name="right_gripper_finger_2"><inertial><origin xyz="-0.00981816 -0.0160522 -0.0386855" rpy="1.4716184 -1.5423711 0.116782866"/><mass value="0.0265733"/><inertia ixx="1.26819502e-05" ixy="0" ixz="0" iyy="1.0313367e-05" iyz="0" izz="5.64205284e-06"/></inertial><visual name="g82"><origin xyz="-0.00981816 -0.0160522 -0.0386855" rpy="0 0 0"/><geometry><mesh filename="assets/right_gripper_finger_2_visual.stl" scale="1 1 1"/></geometry><material name="g82_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="right_gripper_finger_2_collision_0"><origin xyz="-0.0045 -0.016125 -0.027" rpy="0 0 0"/><geometry><box size="0.009 0.0407 0.038"/></geometry></collision><collision name="right_gripper_finger_2_collision_1"><origin xyz="-0.01075 -0.016125 -0.055" rpy="0 0 0"/><geometry><box size="0.0215 0.0407 0.018"/></geometry></collision></link>
<link name="closing_neck_pitch_front_2"/>
<link name="closing_neck_pitch_front_2_z"/>
<link name="closing_neck_pitch_back_2"/>
<link name="closing_neck_pitch_back_2_z"/>
<link name="head_cam_left_site"/>
<link name="head_cam_right_site"/>
<link name="closing_neck_pitch_front_1"/>
<link name="closing_neck_pitch_front_1_z"/>
<link name="closing_neck_pitch_back_1"/>
<link name="closing_neck_pitch_back_1_z"/>
<link name="left_foot_center"/>
<link name="right_foot_center"/>
<link name="end_effector_L_site"/>
<link name="left_hand_center"/>
<link name="end_effector_R_site"/>
<link name="right_hand_center"/>
<joint name="base_link_freejoint" type="floating"><parent link="world"/><child link="base_link"/><origin xyz="0 0 0.315053" rpy="0 0 0"/></joint>
<joint name="neck_yaw_drive" type="revolute"><parent link="base_link"/><child link="neck_yaw_gear_drive"/><origin xyz="-0.0215079 0 0.119" rpy="0 0 0"/><default value="0"/><axis xyz="-0 0 -1"/><limit effort="1000" velocity="10" lower="-2.87979327" upper="2.87979327"/></joint>
<joint name="neck_yaw_driven" type="revolute"><parent link="base_link"/><child link="neck_yaw_link"/><origin xyz="-0.00050787 -0 0.124" rpy="0 0 0"/><default value="0"/><axis xyz="0 -0 1"/><limit effort="1000" velocity="10" lower="-2.61799388" upper="2.61799388"/></joint>
<joint name="neck_pitch" type="revolute"><parent link="neck_yaw_link"/><child link="head"/><origin xyz="0 0.004 0.015" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-0.610865238" upper="1.3962634"/></joint>
<joint name="neck_pitch_act" type="revolute"><parent link="head"/><child link="neck_pitch_plate"/><origin xyz="-0.027 -0.0025 0.0326157" rpy="0 0 0"/><default value="0"/><axis xyz="-0 -1 0"/><limit effort="1000" velocity="10" lower="-0.610865238" upper="1.3962634"/></joint>
<joint name="neck_pitch_front" type="revolute"><parent link="neck_pitch_plate"/><child link="neck_rod"/><origin xyz="0.00723736 -0.0055 0.0019674" rpy="0 0 0"/><default value="0"/><axis xyz="-0 -1 -0"/><limit effort="1000" velocity="10" lower="-18.4888839" upper="6.64385735"/></joint>
<joint name="neck_pitch_back" type="revolute"><parent link="neck_pitch_plate"/><child link="neck_rod_2"/><origin xyz="-0.00723736 -0.0055 -0.0019674" rpy="0 0 0"/><default value="0"/><axis xyz="-0 -1 0"/><limit effort="1000" velocity="10" lower="-12.2064195" upper="12.9263218"/></joint>
<joint name="waist_yaw" type="revolute"><parent link="base_link"/><child link="waist_gears"/><origin xyz="-0.0165079 -0 -0.00248651" rpy="0 0 0"/><default value="0"/><axis xyz="0 -0 1"/><limit effort="1000" velocity="10" lower="-1.57079633" upper="1.57079633"/></joint>
<joint name="waist_roll" type="revolute"><parent link="waist_gears"/><child link="pelvis_link"/><origin xyz="0.0230079 0 -0.014" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.523598776" upper="0.523598776"/></joint>
<joint name="waist_act_1" type="revolute"><parent link="pelvis_link"/><child link="waist_gear_drive"/><origin xyz="-0.01275 0 -0.0196" rpy="0 0 0"/><default value="0"/><axis xyz="0 -0 1"/><limit effort="1000" velocity="10" lower="-4.6774824" upper="4.6774824"/></joint>
<joint name="waist_act_2" type="revolute"><parent link="pelvis_link"/><child link="waist_gear_drive_2"/><origin xyz="-0.03275 -0 -0.0196" rpy="0 0 0"/><default value="0"/><axis xyz="0 -0 1"/><limit effort="1000" velocity="10" lower="-4.69883893" upper="4.65612587"/></joint>
<joint name="left_hip_pitch" type="revolute"><parent link="pelvis_link"/><child link="left_hip_pitch_link"/><origin xyz="-0.02275 0.018 -0.0481" rpy="0 0 0"/><default value="0"/><axis xyz="-0 1 0"/><limit effort="1000" velocity="10" lower="-2.35619449" upper="0.785398163"/></joint>
<joint name="left_hip_roll" type="revolute"><parent link="left_hip_pitch_link"/><child link="left_hip_roll_link"/><origin xyz="-0.023 0.019 -0.024" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.785398163" upper="1.57079633"/></joint>
<joint name="left_hip_yaw_driven" type="revolute"><parent link="left_hip_roll_link"/><child link="left_hip_yaw_link"/><origin xyz="0.023 0 -0.033" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 -1"/><limit effort="1000" velocity="10" lower="-1.57079633" upper="1.57079633"/></joint>
<joint name="left_hip_yaw_drive" type="revolute"><parent link="left_hip_yaw_link"/><child link="left_hip_yaw_gear_drive"/><origin xyz="-0.0192 -0.0002 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 -0 1"/><limit effort="1000" velocity="10" lower="-1.83259571" upper="1.83259571"/></joint>
<joint name="left_knee" type="revolute"><parent link="left_hip_yaw_link"/><child link="left_knee_link"/><origin xyz="0 -0.019 -0.0445" rpy="0 0 0"/><default value="0"/><axis xyz="0 -1 -0"/><limit effort="1000" velocity="10" lower="-2.0943951" upper="0"/></joint>
<joint name="left_ankle_pitch" type="revolute"><parent link="left_knee_link"/><child link="left_ankle_pitch_link"/><origin xyz="-0 0 -0.11" rpy="0 0 0"/><default value="0"/><axis xyz="-0 1 0"/><limit effort="1000" velocity="10" lower="-1.83259571" upper="0.959931089"/></joint>
<joint name="left_ankle_roll" type="revolute"><parent link="left_ankle_pitch_link"/><child link="left_ankle_roll_link"/><origin xyz="-0.023 0.019 0" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 -0"/><limit effort="1000" velocity="10" lower="-1.22173048" upper="1.22173048"/></joint>
<joint name="right_hip_pitch" type="revolute"><parent link="pelvis_link"/><child link="right_hip_pitch_link"/><origin xyz="-0.02275 -0.018 -0.0481" rpy="0 0 0"/><default value="0"/><axis xyz="0 -1 -0"/><limit effort="1000" velocity="10" lower="-0.785398163" upper="2.35619449"/></joint>
<joint name="right_hip_roll" type="revolute"><parent link="right_hip_pitch_link"/><child link="right_hip_roll_link"/><origin xyz="-0.0228375 -0.019 -0.024" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-1.57079633" upper="0.785398163"/></joint>
<joint name="right_hip_yaw_driven" type="revolute"><parent link="right_hip_roll_link"/><child link="right_hip_yaw_link"/><origin xyz="0.023 0 -0.033" rpy="0 0 0"/><default value="0"/><axis xyz="-0 -0 -1"/><limit effort="1000" velocity="10" lower="-1.57079633" upper="1.57079633"/></joint>
<joint name="right_hip_yaw_drive" type="revolute"><parent link="right_hip_yaw_link"/><child link="right_hip_yaw_gear_drive"/><origin xyz="-0.0192 0.0002 0" rpy="0 0 0"/><default value="0"/><axis xyz="-0 0 1"/><limit effort="1000" velocity="10" lower="-1.83259571" upper="1.83259571"/></joint>
<joint name="right_knee" type="revolute"><parent link="right_hip_yaw_link"/><child link="right_knee_link"/><origin xyz="-0 0.019 -0.0445" rpy="0 0 0"/><default value="0"/><axis xyz="-0 1 -0"/><limit effort="1000" velocity="10" lower="0" upper="2.0943951"/></joint>
<joint name="right_ankle_pitch" type="revolute"><parent link="right_knee_link"/><child link="right_ankle_pitch_link"/><origin xyz="-0 -0 -0.11" rpy="0 0 0"/><default value="0"/><axis xyz="-0 -1 -0"/><limit effort="1000" velocity="10" lower="-0.959931089" upper="1.83259571"/></joint>
<joint name="right_ankle_roll" type="revolute"><parent link="right_ankle_pitch_link"/><child link="right_ankle_roll_link"/><origin xyz="-0.023 -0.019 0" rpy="0 0 0"/><default value="0"/><axis xyz="1 -0 -0"/><limit effort="1000" velocity="10" lower="-1.22173048" upper="1.22173048"/></joint>
<joint name="left_shoulder_pitch" type="revolute"><parent link="base_link"/><child link="left_shoulder_pitch_link"/><origin xyz="-0.0200079 0.067 0.10175" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-4.71238898" upper="4.71238898"/></joint>
<joint name="left_shoulder_roll" type="revolute"><parent link="left_shoulder_pitch_link"/><child link="left_shoulder_roll_link"/><origin xyz="-0.019 0.027 -0" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.436332313" upper="1.57079633"/></joint>
<joint name="left_shoulder_yaw_drive" type="revolute"><parent link="left_shoulder_roll_link"/><child link="left_shoulder_gear_drive"/><origin xyz="0.019 0.024 -0.019" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="left_shoulder_yaw_driven" type="revolute"><parent link="left_shoulder_roll_link"/><child link="left_shoulder_yaw_link"/><origin xyz="0.019 0 -0.025" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 -1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="left_elbow_roll" type="revolute"><parent link="left_shoulder_yaw_link"/><child link="left_elbow_roll_link"/><origin xyz="-0.019 -0 -0.061" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-2.26892803" upper="1.91986218"/></joint>
<joint name="left_elbow_yaw_drive" type="revolute"><parent link="left_elbow_roll_link"/><child link="left_elbow_gear_drive"/><origin xyz="0.019 0.024 -0.019" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="left_elbow_yaw_driven" type="revolute"><parent link="left_elbow_roll_link"/><child link="left_elbow_yaw_link"/><origin xyz="0.019 0 -0.025" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 -1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="left_wrist_pitch_driven" type="revolute"><parent link="left_elbow_yaw_link"/><child link="left_wrist_pitch_link"/><origin xyz="0 0.022 -0.061" rpy="0 0 0"/><default value="0"/><axis xyz="0 -1 0"/><limit effort="1000" velocity="10" lower="-2.0943951" upper="2.0943951"/></joint>
<joint name="left_wrist_pitch_drive" type="revolute"><parent link="left_wrist_pitch_link"/><child link="left_wrist_gear_drive"/><origin xyz="0 -0.003 0.024" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 -0"/><limit effort="1000" velocity="10" lower="-2.0943951" upper="2.0943951"/></joint>
<joint name="left_wrist_roll" type="revolute"><parent link="left_wrist_pitch_link"/><child link="left_gripper_link"/><origin xyz="-0.019 -0.022 -0" rpy="0 0 0"/><default value="0"/><axis xyz="-1 0 0"/><limit effort="1000" velocity="10" lower="-1.57079633" upper="1.57079633"/></joint>
<joint name="left_gripper_rack" type="revolute"><parent link="left_gripper_link"/><child link="left_gripper_gear_drive"/><origin xyz="-0.01195 0.0001 -0.0397" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="0" upper="1.95476876"/></joint>
<joint name="left_gripper_pinion" type="prismatic"><parent link="left_gripper_link"/><child link="left_gripper_finger"/><origin xyz="-0.026 -0.015975 -0.03985" rpy="0 0 0"/><axis xyz="1 -0 -0"/><limit effort="1000" velocity="10" lower="-0.000873" upper="0.0235"/></joint>
<joint name="left_gripper_pinion_mirror" type="prismatic"><parent link="left_gripper_link"/><child link="left_gripper_finger_2"/><origin xyz="0.064 0.015975 -0.03985" rpy="0 0 0"/><axis xyz="-1 0 0"/><limit effort="1000" velocity="10" lower="-0.000873" upper="0.0235"/></joint>
<joint name="right_shoulder_pitch" type="revolute"><parent link="base_link"/><child link="right_shoulder_pitch_link"/><origin xyz="-0.0200079 -0.067 0.10175" rpy="0 0 0"/><default value="0"/><axis xyz="0 -1 0"/><limit effort="1000" velocity="10" lower="-4.71238898" upper="4.71238898"/></joint>
<joint name="right_shoulder_roll" type="revolute"><parent link="right_shoulder_pitch_link"/><child link="right_shoulder_roll_link"/><origin xyz="0.019 -0.027 -0" rpy="0 0 0"/><default value="0"/><axis xyz="-1 0 0"/><limit effort="1000" velocity="10" lower="-0.436332313" upper="1.57079633"/></joint>
<joint name="right_shoulder_yaw_drive" type="revolute"><parent link="right_shoulder_roll_link"/><child link="right_shoulder_gear_drive"/><origin xyz="-0.019 -0.024 -0.019" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="right_shoulder_yaw_driven" type="revolute"><parent link="right_shoulder_roll_link"/><child link="right_shoulder_yaw_link"/><origin xyz="-0.019 -0 -0.025" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 -1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="right_elbow_roll" type="revolute"><parent link="right_shoulder_yaw_link"/><child link="right_elbow_roll_link"/><origin xyz="0.019 -0 -0.061" rpy="0 0 0"/><default value="0"/><axis xyz="-1 0 0"/><limit effort="1000" velocity="10" lower="-2.26892803" upper="1.91986218"/></joint>
<joint name="right_elbow_yaw_drive" type="revolute"><parent link="right_elbow_roll_link"/><child link="right_elbow_gear_drive"/><origin xyz="-0.019 -0.024 -0.019" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="right_elbow_yaw_driven" type="revolute"><parent link="right_elbow_roll_link"/><child link="right_elbow_yaw_link"/><origin xyz="-0.019 -0 -0.025" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 -1"/><limit effort="1000" velocity="10" lower="-3.14159265" upper="3.14159265"/></joint>
<joint name="right_wrist_pitch_driven" type="revolute"><parent link="right_elbow_yaw_link"/><child link="right_wrist_pitch_link"/><origin xyz="0 -0.022 -0.061" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-2.0943951" upper="2.0943951"/></joint>
<joint name="right_wrist_pitch_drive" type="revolute"><parent link="right_wrist_pitch_link"/><child link="right_wrist_gear_drive"/><origin xyz="-0 0.003 0.024" rpy="0 0 0"/><default value="0"/><axis xyz="-0 -1 -0"/><limit effort="1000" velocity="10" lower="-2.0943951" upper="2.0943951"/></joint>
<joint name="right_wrist_roll" type="revolute"><parent link="right_wrist_pitch_link"/><child link="right_gripper_link"/><origin xyz="0.019 0.022 -0" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-1.57079633" upper="1.57079633"/></joint>
<joint name="right_gripper_rack" type="revolute"><parent link="right_gripper_link"/><child link="right_gripper_gear_drive"/><origin xyz="-0.04995 -0.0001 -0.0397" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="0" upper="1.95476876"/></joint>
<joint name="right_gripper_pinion" type="prismatic"><parent link="right_gripper_link"/><child link="right_gripper_finger"/><origin xyz="-0.064 -0.015975 -0.03985" rpy="0 0 0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.000873" upper="0.0235"/></joint>
<joint name="right_gripper_pinion_mirror" type="prismatic"><parent link="right_gripper_link"/><child link="right_gripper_finger_2"/><origin xyz="0.026 0.015975 -0.03985" rpy="0 0 0"/><axis xyz="-1 0 -0"/><limit effort="1000" velocity="10" lower="-0.000873" upper="0.0235"/></joint>
<joint name="closing_neck_pitch_front_2_frame" type="fixed"><parent link="neck_yaw_link"/><child link="closing_neck_pitch_front_2"/><origin xyz="0.00724444 -0.004 0.0169411" rpy="1.57079633 0 3.14159265"/></joint>
<joint name="closing_neck_pitch_front_2_z_frame" type="fixed"><parent link="neck_yaw_link"/><child link="closing_neck_pitch_front_2_z"/><origin xyz="0.00724444 0.096 0.0169411" rpy="1.57079633 0 3.14159265"/></joint>
<joint name="closing_neck_pitch_back_2_frame" type="fixed"><parent link="neck_yaw_link"/><child link="closing_neck_pitch_back_2"/><origin xyz="-0.00724444 -0.004 0.0130589" rpy="1.57079633 0 3.14159265"/></joint>
<joint name="closing_neck_pitch_back_2_z_frame" type="fixed"><parent link="neck_yaw_link"/><child link="closing_neck_pitch_back_2_z"/><origin xyz="-0.00724444 0.096 0.0130589" rpy="1.57079633 0 3.14159265"/></joint>
<joint name="head_cam_left_site_frame" type="fixed"><parent link="head"/><child link="head_cam_left_site"/><origin xyz="0.0295 0.0125 0.048" rpy="-1.57079696 -0.000796319832 -1.57000001"/></joint>
<joint name="head_cam_right_site_frame" type="fixed"><parent link="head"/><child link="head_cam_right_site"/><origin xyz="0.0295 -0.0205 0.048" rpy="-1.57079696 -0.000796319832 -1.57000001"/></joint>
<joint name="closing_neck_pitch_front_1_frame" type="fixed"><parent link="neck_rod"/><child link="closing_neck_pitch_front_1"/><origin xyz="0.02700705 0 -0.03264198" rpy="1.57079633 -0.880644875 -3.14159265"/></joint>
<joint name="closing_neck_pitch_front_1_z_frame" type="fixed"><parent link="neck_rod"/><child link="closing_neck_pitch_front_1_z"/><origin xyz="0.02700705 0.1 -0.03264198" rpy="1.57079633 -0.880644875 -3.14159265"/></joint>
<joint name="closing_neck_pitch_back_1_frame" type="fixed"><parent link="neck_rod_2"/><child link="closing_neck_pitch_back_1"/><origin xyz="0.02699292 0 -0.03258941" rpy="1.57079633 -0.879922424 3.14159265"/></joint>
<joint name="closing_neck_pitch_back_1_z_frame" type="fixed"><parent link="neck_rod_2"/><child link="closing_neck_pitch_back_1_z"/><origin xyz="0.02699292 0.1 -0.03258941" rpy="1.57079633 -0.879922424 3.14159265"/></joint>
<joint name="left_foot_center_frame" type="fixed"><parent link="left_ankle_roll_link"/><child link="left_foot_center"/><origin xyz="0.0358432 -7e-08 -0.0374345" rpy="0 0 0"/></joint>
<joint name="right_foot_center_frame" type="fixed"><parent link="right_ankle_roll_link"/><child link="right_foot_center"/><origin xyz="0.0358432 -7e-08 -0.0374345" rpy="0 0 0"/></joint>
<joint name="end_effector_L_site_frame" type="fixed"><parent link="left_gripper_link"/><child link="end_effector_L_site"/><origin xyz="0.019 0 -0.06685" rpy="0 0 0"/></joint>
<joint name="left_hand_center_frame" type="fixed"><parent link="left_gripper_finger"/><child link="left_hand_center"/><origin xyz="0.045 0.016125 -0.027" rpy="0 0 0"/></joint>
<joint name="end_effector_R_site_frame" type="fixed"><parent link="right_gripper_link"/><child link="end_effector_R_site"/><origin xyz="-0.019 0 -0.06685" rpy="0 0 0"/></joint>
<joint name="right_hand_center_frame" type="fixed"><parent link="right_gripper_finger"/><child link="right_hand_center"/><origin xyz="0.045 0.016125 -0.027" rpy="0 0 0"/></joint>
</robot>
