<?xml version="1.0"?>
<robot name="booster_t1">
<link name="base_link"><inertial><origin xyz="0.0551365 -1.42058e-06 0.105062" rpy="2.83661579e-05 -0.017990874 -2.81060869e-05"/><mass value="11.7"/><inertia ixx="0.0915404" ixy="0" ixz="0" iyy="0.0767787" iyz="0" izz="0.0556055"/></inertial><visual name="g0"><origin xyz="0 8.47032947e-22 -1.38777878e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Trunk.stl" scale="1 1 1"/></geometry><material name="g0_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g1"><origin xyz="0.06 0 0.12" rpy="0 0 0"/><geometry><box size="0.15 0.2 0.3"/></geometry></collision></link>
<link name="H1"><inertial><origin xyz="-0.000508 -0.001403 0.057432" rpy="-0.0179593336 0.0197066932 1.4025934"/><mass value="0.44391"/><inertia ixx="0.000241549" ixy="0" ixz="0" iyy="0.00022351" iyz="0" izz="0.000149941"/></inertial><visual name="g2"><origin xyz="4.33680869e-19 8.67361738e-19 -2.77555756e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/H1.stl" scale="1 1 1"/></geometry><material name="g2_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="H2"><inertial><origin xyz="0.007802 0.001262 0.098631" rpy="0.225389644 -0.131168952 -0.172922223"/><mass value="0.631019"/><inertia ixx="0.00203553" ixy="0" ixz="0" iyy="0.00192467" iyz="0" izz="0.00172381"/></inertial><visual name="g3"><origin xyz="-3.46944695e-18 1.62630326e-19 -1.38777878e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/H2.stl" scale="1 1 1"/></geometry><material name="g3_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g4"><origin xyz="0.01 0 0.11" rpy="0 0 0"/><geometry><sphere radius="0.08"/></geometry></collision></link>
<link name="AL1"><inertial><origin xyz="-0.000677 0.044974 0" rpy="1.55380412 -1.57079633 0"/><mass value="0.53"/><inertia ixx="0.001367" ixy="0" ixz="0" iyy="0.00129329" iyz="0" izz="0.000292711"/></inertial><visual name="g21"><origin xyz="2.16840434e-19 -1.38777878e-17 9.40206571e-20" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AL1.stl" scale="1 1 1"/></geometry><material name="g21_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="AL2"><inertial><origin xyz="0.003862 0.037976 0" rpy="1.6182728 -1.57079633 0"/><mass value="0.16"/><inertia ixx="0.000401" ixy="0" ixz="0" iyy="0.00034538" iyz="0" izz="0.00017662"/></inertial><visual name="g22"><origin xyz="4.33680869e-19 0 -7.36601027e-19" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AL2.stl" scale="1 1 1"/></geometry><material name="g22_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g23"><origin xyz="0.0002 0 0" rpy="-0 1.57079633 0"/><geometry><cylinder radius="0.032" length="0.078"/></geometry></collision></link>
<link name="AL3"><inertial><origin xyz="0 0.085353 -9.9e-05" rpy="1.57276633 0 0"/><mass value="1.02"/><inertia ixx="0.012869" ixy="0" ixz="0" iyy="0.012798" iyz="0" izz="0.000620953"/></inertial><visual name="g24"><origin xyz="-6.77626358e-21 -2.77555756e-17 -8.34835673e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AL3.stl" scale="1 1 1"/></geometry><material name="g24_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g25"><origin xyz="0 0.062 0" rpy="-1.57079633 0 0"/><geometry><cylinder radius="0.0392" length="0.124"/></geometry></collision></link>
<link name="AL4"><inertial><origin xyz="-0.00046851 0.062372 0.0015178" rpy="1.56792722 0.000505408417 -0.00822551986"/><mass value="0.557"/><inertia ixx="0.00167309871" ixy="0" ixz="0" iyy="0.00160801146" iyz="0" izz="0.000213889833"/></inertial><visual name="g26"><origin xyz="8.13151629e-20 -2.77555756e-17 -4.55364912e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AL4.stl" scale="1 1 1"/></geometry><material name="g26_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g27"><origin xyz="0 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.032" length="0.074"/></geometry></collision></link>
<link name="AL5"><inertial><origin xyz="-3.8402e-05 0.036076 0.0056711" rpy="1.4049291 0 0"/><mass value="0.43402"/><inertia ixx="0.000823" ixy="0" ixz="0" iyy="0.000801405716" iyz="0" izz="0.000199594284"/></inertial><visual name="g28"><origin xyz="3.70576914e-21 -1.38777878e-17 -5.20417043e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AL5.stl" scale="1 1 1"/></geometry><material name="g28_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g29"><origin xyz="0 -0.03 0" rpy="-1.57079633 0 0"/><geometry><cylinder radius="0.035" length="0.076"/></geometry></collision></link>
<link name="AL6"><inertial><origin xyz="-0.00072939 0.056578 -0.0056257" rpy="1.58623786 0.0235005879 -0.0145702411"/><mass value="0.47922"/><inertia ixx="0.00117124207" ixy="0" ixz="0" iyy="0.00113821354" iyz="0" izz="0.000165544387"/></inertial><visual name="g30"><origin xyz="-1.08420217e-19 4.16333634e-17 -4.33680869e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AL6.stl" scale="1 1 1"/></geometry><material name="g30_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g31"><origin xyz="0 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.031" length="0.07"/></geometry></collision></link>
<link name="left_hand_link"><inertial><origin xyz="-0.0067917 0.06373 0.011867" rpy="-3.12657366 -1.52030625 -1.58483471"/><mass value="0.30603"/><inertia ixx="0.00244445702" ixy="0" ixz="0" iyy="0.00230200192" iyz="0" izz="0.000301541054"/></inertial><visual name="g32"><origin xyz="-5.20417043e-18 -2.77555756e-17 -6.9388939e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/left_hand_link.stl" scale="1 1 1"/></geometry><material name="g32_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g33"><origin xyz="-0.0055 0.093 0.007" rpy="1.57079633 0 0"/><geometry><cylinder radius="0.041" length="0.106"/></geometry></collision><collision name="g34"><origin xyz="-0.006 0 0" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.032" length="0.066"/></geometry></collision></link>
<link name="AR1"><inertial><origin xyz="-0.000677 -0.044974 0" rpy="1.55380412 -1.57079633 0"/><mass value="0.53"/><inertia ixx="0.001367" ixy="0" ixz="0" iyy="0.00129329" iyz="0" izz="0.000292711"/></inertial><visual name="g35"><origin xyz="4.33680869e-19 6.9388939e-18 7.19978005e-20" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AR1.stl" scale="1 1 1"/></geometry><material name="g35_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="AR2"><inertial><origin xyz="0.003862 -0.037976 0" rpy="1.52331986 -1.57079633 0"/><mass value="0.16"/><inertia ixx="0.000401" ixy="0" ixz="0" iyy="0.00034538" iyz="0" izz="0.00017662"/></inertial><visual name="g36"><origin xyz="4.33680869e-19 0 7.4343023e-19" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AR2.stl" scale="1 1 1"/></geometry><material name="g36_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g37"><origin xyz="0.0002 0 0" rpy="-0 1.57079633 0"/><geometry><cylinder radius="0.032" length="0.078"/></geometry></collision></link>
<link name="AR3"><inertial><origin xyz="0 -0.085353 -9.9e-05" rpy="1.56882633 0 0"/><mass value="1.02"/><inertia ixx="0.012869" ixy="0" ixz="0" iyy="0.012798" iyz="0" izz="0.000620953"/></inertial><visual name="g38"><origin xyz="1.01643954e-20 2.77555756e-17 -8.34835673e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AR3.stl" scale="1 1 1"/></geometry><material name="g38_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g39"><origin xyz="0 -0.062 0" rpy="-1.57079633 0 0"/><geometry><cylinder radius="0.0392" length="0.124"/></geometry></collision></link>
<link name="AR4"><inertial><origin xyz="-0.0004573 -0.067734 0.0017465" rpy="1.57330995 0.000492323485 0.00680353891"/><mass value="0.557"/><inertia ixx="0.00229209525" ixy="0" ixz="0" iyy="0.00222301255" iyz="0" izz="0.000233892198"/></inertial><visual name="g40"><origin xyz="1.35525272e-20 -6.9388939e-18 3.52365706e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AR4.stl" scale="1 1 1"/></geometry><material name="g40_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g41"><origin xyz="0 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.032" length="0.074"/></geometry></collision></link>
<link name="AR5"><inertial><origin xyz="3.7355e-05 -0.035638 0.0053147" rpy="1.72984964 0 0"/><mass value="0.43402"/><inertia ixx="0.000836" ixy="0" ixz="0" iyy="0.000812238786" iyz="0" izz="0.000204761214"/></inertial><visual name="g42"><origin xyz="4.76456033e-22 1.38777878e-17 -1.73472348e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AR5.stl" scale="1 1 1"/></geometry><material name="g42_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g43"><origin xyz="0 0.03 0" rpy="-1.57079633 0 0"/><geometry><cylinder radius="0.035" length="0.076"/></geometry></collision></link>
<link name="AR6"><inertial><origin xyz="-0.0011437 -0.056205 -0.0056621" rpy="1.55716595 0.0240232588 0.0223929876"/><mass value="0.47922"/><inertia ixx="0.00123856156" ixy="0" ixz="0" iyy="0.00121017466" iyz="0" izz="0.000181263782"/></inertial><visual name="g44"><origin xyz="3.68628739e-18 1.38777878e-17 -5.20417043e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/AR6.stl" scale="1 1 1"/></geometry><material name="g44_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g45"><origin xyz="0 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.031" length="0.07"/></geometry></collision></link>
<link name="right_hand_link"><inertial><origin xyz="-0.0047758 -0.064411 0.011992" rpy="3.12589306 -1.52295947 -1.55607881"/><mass value="0.30603"/><inertia ixx="0.00242288255" ixy="0" ixz="0" iyy="0.00228700193" iyz="0" izz="0.00028711552"/></inertial><visual name="g46"><origin xyz="5.20417043e-18 2.77555756e-17 -3.46944695e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/right_hand_link.stl" scale="1 1 1"/></geometry><material name="g46_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g47"><origin xyz="-0.0055 -0.093 0.007" rpy="1.57079633 0 0"/><geometry><cylinder radius="0.041" length="0.106"/></geometry></collision><collision name="g48"><origin xyz="-0.006 0 0" rpy="0 -1.57079633 0"/><geometry><cylinder radius="0.032" length="0.066"/></geometry></collision></link>
<link name="Waist"><inertial><origin xyz="0.002284 3e-06 0.007301" rpy="-0.000280887969 -0.362128033 0.00553692176"/><mass value="2.581"/><inertia ixx="0.00536742" ixy="0" ixz="0" iyy="0.005299" iyz="0" izz="0.00474258"/></inertial><visual name="g49"><origin xyz="1.30104261e-18 -1.75071122e-19 -3.46944695e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Waist.stl" scale="1 1 1"/></geometry><material name="g49_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="Hip_Pitch_Left"><inertial><origin xyz="0.000534 -0.007296 -0.018083" rpy="0.446069427 0.027670487 0.00984621084"/><mass value="1.021"/><inertia ixx="0.00180547" ixy="0" ixz="0" iyy="0.00145926" iyz="0" izz="0.00125327"/></inertial><visual name="g50"><origin xyz="-1.62630326e-19 -2.60208521e-18 -3.46944695e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Hip_Pitch_Left.stl" scale="1 1 1"/></geometry><material name="g50_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="Hip_Roll_Left"><inertial><origin xyz="0.001101 2.4e-05 -0.05375" rpy="-0.016959574 0 1.57079633"/><mass value="0.385"/><inertia ixx="0.001743" ixy="0" ixz="0" iyy="0.00151729" iyz="0" izz="0.000514712"/></inertial><visual name="g51"><origin xyz="-4.33680869e-18 -2.43641086e-19 0" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Hip_Roll_Left.stl" scale="1 1 1"/></geometry><material name="g51_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="Hip_Yaw_Left"><inertial><origin xyz="-0.007233 0.000206 -0.089184" rpy="-0.0926449648 0.00460670507 1.59741177"/><mass value="2.166"/><inertia ixx="0.0257334" ixy="0" ixz="0" iyy="0.0253024" iyz="0" izz="0.00259215"/></inertial><visual name="g52"><origin xyz="6.07153217e-18 4.19069551e-19 6.9388939e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Hip_Yaw_Left.stl" scale="1 1 1"/></geometry><material name="g52_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g53"><origin xyz="0 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.05" length="0.16"/></geometry></collision></link>
<link name="Shank_Left"><inertial><origin xyz="-0.006012 0.000259 -0.124318" rpy="-0.000257928645 -0.0479884268 0.130878357"/><mass value="1.73"/><inertia ixx="0.0346951" ixy="0" ixz="0" iyy="0.0345375" iyz="0" izz="0.00185844"/></inertial><visual name="g54"><origin xyz="-6.50521303e-19 -1.21972744e-19 8.32667268e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Shank_Left.stl" scale="1 1 1"/></geometry><material name="g54_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g55"><origin xyz="0 0 -0.12" rpy="0 0 0"/><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision></link>
<link name="Ankle_Cross_Left"><inertial><origin xyz="-0.003722 0 -0.007981" rpy="1.78699911 0 1.57079633"/><mass value="0.073"/><inertia ixx="2.9e-05" ixy="0" ixz="0" iyy="2.56589e-05" iyz="0" izz="1.13411e-05"/></inertial><visual name="g56"><origin xyz="2.60208521e-18 -2.16840434e-19 5.20417043e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Ankle_Cross_Left.stl" scale="1 1 1"/></geometry><material name="g56_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="left_foot_link"><inertial><origin xyz="-0.000249 0 -0.00914" rpy="0 -1.3394102 3.14159265"/><mass value="0.685"/><inertia ixx="0.00269786" ixy="0" ixz="0" iyy="0.002385" iyz="0" izz="0.00218714"/></inertial><visual name="g57"><origin xyz="8.67361738e-19 2.11758237e-22 5.20417043e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/left_foot_link.stl" scale="1 1 1"/></geometry><material name="g57_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g58"><origin xyz="0.01 0 -0.015" rpy="0 0 0"/><geometry><box size="0.223 0.1 0.03"/></geometry></collision></link>
<link name="Hip_Pitch_Right"><inertial><origin xyz="0.000534 0.007514 -0.018082" rpy="-0.461128233 0.0267357226 -0.0148919659"/><mass value="1.021"/><inertia ixx="0.00180552" ixy="0" ixz="0" iyy="0.0014632" iyz="0" izz="0.00124928"/></inertial><visual name="g59"><origin xyz="5.42101086e-20 -3.46944695e-18 6.9388939e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Hip_Pitch_Right.stl" scale="1 1 1"/></geometry><material name="g59_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="Hip_Roll_Right"><inertial><origin xyz="0.001099 2.4e-05 -0.053748" rpy="-0.016959574 0 1.57079633"/><mass value="0.385"/><inertia ixx="0.001743" ixy="0" ixz="0" iyy="0.00151729" iyz="0" izz="0.000514712"/></inertial><visual name="g60"><origin xyz="1.30104261e-18 -1.67814432e-18 -2.08166817e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Hip_Roll_Right.stl" scale="1 1 1"/></geometry><material name="g60_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="Hip_Yaw_Right"><inertial><origin xyz="-0.007191 -0.000149 -0.08922" rpy="-0.0922039618 -0.00399584931 1.54787277"/><mass value="2.17"/><inertia ixx="0.0257623" ixy="0" ixz="0" iyy="0.0253298" iyz="0" izz="0.00259389"/></inertial><visual name="g61"><origin xyz="6.07153217e-18 2.04981973e-19 4.16333634e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Hip_Yaw_Right.stl" scale="1 1 1"/></geometry><material name="g61_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g62"><origin xyz="0 0 0" rpy="0 0 0"/><geometry><cylinder radius="0.05" length="0.16"/></geometry></collision></link>
<link name="Shank_Right"><inertial><origin xyz="-0.005741 -0.000541 -0.122602" rpy="0.000269197047 -0.046939921 -0.0609833554"/><mass value="1.79"/><inertia ixx="0.0351717" ixy="0" ixz="0" iyy="0.0349574" iyz="0" izz="0.00196589"/></inertial><visual name="g63"><origin xyz="-6.50521303e-19 -4.06575815e-20 5.55111512e-17" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Shank_Right.stl" scale="1 1 1"/></geometry><material name="g63_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g64"><origin xyz="0 0 -0.12" rpy="0 0 0"/><geometry><cylinder radius="0.05" length="0.15"/></geometry></collision></link>
<link name="Ankle_Cross_Right"><inertial><origin xyz="-0.003722 0 -0.007981" rpy="1.78699911 0 1.57079633"/><mass value="0.073"/><inertia ixx="2.9e-05" ixy="0" ixz="0" iyy="2.56589e-05" iyz="0" izz="1.13411e-05"/></inertial><visual name="g65"><origin xyz="8.67361738e-19 1.08420217e-19 3.46944695e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/Ankle_Cross_Right.stl" scale="1 1 1"/></geometry><material name="g65_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual></link>
<link name="right_foot_link"><inertial><origin xyz="-0.000248 0 -0.00914" rpy="0 -1.3394102 3.14159265"/><mass value="0.685"/><inertia ixx="0.00269786" ixy="0" ixz="0" iyy="0.002385" iyz="0" izz="0.00218714"/></inertial><visual name="g66"><origin xyz="3.03576608e-18 6.3527471e-22 5.20417043e-18" rpy="0 0 0"/><geometry><mesh filename="/home/grl/repo/legged_env_v2/asset/booster_t1/assets/right_foot_link.stl" scale="1 1 1"/></geometry><material name="g66_mat"><color rgba="0.5 0.5 0.5 1"/></material></visual><collision name="g67"><origin xyz="0.01 0 -0.015" rpy="0 0 0"/><geometry><box size="0.223 0.1 0.03"/></geometry></collision></link>
<link name="imu"/>
<link name="head_cam_site"/>
<link name="end_effector_L_site"/>
<link name="end_effector_R_site"/>
<joint name="AAHead_yaw" type="revolute"><parent link="base_link"/><child link="H1"/><origin xyz="0.0625 0 0.243" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-1.57" upper="1.57"/></joint>
<joint name="Head_pitch" type="revolute"><parent link="H1"/><child link="H2"/><origin xyz="0 0 0.06185" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-0.35" upper="1.22"/></joint>
<joint name="Left_Shoulder_Pitch" type="revolute"><parent link="base_link"/><child link="AL1"/><origin xyz="0.0575 0.1063 0.219" rpy="0 0.000881129943 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-3.31" upper="1.22"/></joint>
<joint name="Left_Shoulder_Roll" type="revolute"><parent link="AL1"/><child link="AL2"/><origin xyz="0 0.047 0" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-1.74" upper="1.57"/></joint>
<joint name="Left_Elbow_Pitch" type="revolute"><parent link="AL2"/><child link="AL3"/><origin xyz="0.00025 0.0605 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-2.27" upper="2.27"/></joint>
<joint name="Left_Elbow_Yaw" type="revolute"><parent link="AL3"/><child link="AL4"/><origin xyz="0 0.1471 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-2.44" upper="0"/></joint>
<joint name="Left_Wrist_Pitch" type="revolute"><parent link="AL4"/><child link="AL5"/><origin xyz="0 0.105 0.00025" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-2.5821" upper="2.5821"/></joint>
<joint name="Left_Wrist_Yaw" type="revolute"><parent link="AL5"/><child link="AL6"/><origin xyz="0 0.042 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-1.8185" upper="1.4261"/></joint>
<joint name="Left_Hand_Roll" type="revolute"><parent link="AL6"/><child link="left_hand_link"/><origin xyz="0.00475 0.07 0.0015" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.758" upper="1.4285"/></joint>
<joint name="Right_Shoulder_Pitch" type="revolute"><parent link="base_link"/><child link="AR1"/><origin xyz="0.0575 -0.1063 0.219" rpy="0 0.000881129943 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-3.31" upper="1.22"/></joint>
<joint name="Right_Shoulder_Roll" type="revolute"><parent link="AR1"/><child link="AR2"/><origin xyz="0 -0.047 0" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-1.57" upper="1.74"/></joint>
<joint name="Right_Elbow_Pitch" type="revolute"><parent link="AR2"/><child link="AR3"/><origin xyz="0.00025 -0.0605 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-2.27" upper="2.27"/></joint>
<joint name="Right_Elbow_Yaw" type="revolute"><parent link="AR3"/><child link="AR4"/><origin xyz="0 -0.1471 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="0" upper="2.44"/></joint>
<joint name="Right_Wrist_Pitch" type="revolute"><parent link="AR4"/><child link="AR5"/><origin xyz="0 -0.105 0.00025" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-2.5821" upper="2.5821"/></joint>
<joint name="Right_Wrist_Yaw" type="revolute"><parent link="AR5"/><child link="AR6"/><origin xyz="0 -0.042 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-1.4261" upper="1.8185"/></joint>
<joint name="Right_Hand_Roll" type="revolute"><parent link="AR6"/><child link="right_hand_link"/><origin xyz="0.00475 -0.07 0.0015" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-1.4285" upper="0.758"/></joint>
<joint name="Waist" type="revolute"><parent link="base_link"/><child link="Waist"/><origin xyz="0.0625 0 -0.1155" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-1.57" upper="1.57"/></joint>
<joint name="Left_Hip_Pitch" type="revolute"><parent link="Waist"/><child link="Hip_Pitch_Left"/><origin xyz="0 0.106 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-1.8" upper="1.57"/></joint>
<joint name="Left_Hip_Roll" type="revolute"><parent link="Hip_Pitch_Left"/><child link="Hip_Roll_Left"/><origin xyz="0 0 -0.02" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.2" upper="1.57"/></joint>
<joint name="Left_Hip_Yaw" type="revolute"><parent link="Hip_Roll_Left"/><child link="Hip_Yaw_Left"/><origin xyz="0 0 -0.081854" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-1" upper="1"/></joint>
<joint name="Left_Knee_Pitch" type="revolute"><parent link="Hip_Yaw_Left"/><child link="Shank_Left"/><origin xyz="-0.014 0 -0.134" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="0" upper="2.34"/></joint>
<joint name="Left_Ankle_Pitch" type="revolute"><parent link="Shank_Left"/><child link="Ankle_Cross_Left"/><origin xyz="0 0 -0.28" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-0.87" upper="0.35"/></joint>
<joint name="Left_Ankle_Roll" type="revolute"><parent link="Ankle_Cross_Left"/><child link="left_foot_link"/><origin xyz="0 0.00025 -0.012" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.44" upper="0.44"/></joint>
<joint name="Right_Hip_Pitch" type="revolute"><parent link="Waist"/><child link="Hip_Pitch_Right"/><origin xyz="0 -0.106 0" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-1.8" upper="1.57"/></joint>
<joint name="Right_Hip_Roll" type="revolute"><parent link="Hip_Pitch_Right"/><child link="Hip_Roll_Right"/><origin xyz="0 0 -0.02" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-1.57" upper="0.2"/></joint>
<joint name="Right_Hip_Yaw" type="revolute"><parent link="Hip_Roll_Right"/><child link="Hip_Yaw_Right"/><origin xyz="0 0 -0.081854" rpy="0 0 0"/><default value="0"/><axis xyz="0 0 1"/><limit effort="1000" velocity="10" lower="-1" upper="1"/></joint>
<joint name="Right_Knee_Pitch" type="revolute"><parent link="Hip_Yaw_Right"/><child link="Shank_Right"/><origin xyz="-0.014 0 -0.134" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="0" upper="2.34"/></joint>
<joint name="Right_Ankle_Pitch" type="revolute"><parent link="Shank_Right"/><child link="Ankle_Cross_Right"/><origin xyz="0 0 -0.28" rpy="0 0 0"/><default value="0"/><axis xyz="0 1 0"/><limit effort="1000" velocity="10" lower="-0.87" upper="0.35"/></joint>
<joint name="Right_Ankle_Roll" type="revolute"><parent link="Ankle_Cross_Right"/><child link="right_foot_link"/><origin xyz="0 -0.00025 -0.012" rpy="0 0 0"/><default value="0"/><axis xyz="1 0 0"/><limit effort="1000" velocity="10" lower="-0.44" upper="0.44"/></joint>
<joint name="imu_frame" type="fixed"><parent link="base_link"/><child link="imu"/><origin xyz="0 0 0" rpy="0 0 0"/></joint>
<joint name="head_cam_site_frame" type="fixed"><parent link="H2"/><child link="head_cam_site"/><origin xyz="0.08 0 0.12" rpy="0 -1.57079633 0"/></joint>
<joint name="end_effector_L_site_frame" type="fixed"><parent link="left_hand_link"/><child link="end_effector_L_site"/><origin xyz="0 0.15 0" rpy="1.57080057 0 0"/></joint>
<joint name="end_effector_R_site_frame" type="fixed"><parent link="right_hand_link"/><child link="end_effector_R_site"/><origin xyz="0 -0.15 0" rpy="1.57080057 0 0"/></joint>
</robot>
